*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.page1{
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url("https://altlights.com/assets/img/Night_Uncolored.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
}
.head{
    width:98%;
    height: 100px;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.441);
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    font-size: 20px;
    position: fixed;
}
.head2{
    display: flex;
    gap: 30px;
    color: aliceblue;
}
.strip{
    position: absolute;
    right: 50px;
    top: 30px;
    display: none;
}
@media (max-width:680px){
    .head2{
        display: none;
    }
    .strip{
        display: block;
    }
}
a{
    border-radius: 3px solid rgb(255,0,0,0);
}
a:hover{
    border-bottom: 3px solid red;
}
.emb{
    width: 200px;
    height: 60px;
    position: absolute;
    left: 100px;
    top: 300px;
    color: aliceblue;
}
b{
    font-size: 26px;
}
.page2{
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
}
.our{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 10px;
}
.fours{
    height:100px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    font-size: 18px;
}
@media (max-width:680px){
    .fours{
        flex-direction: column;
        gap: 0px;
        height: 150px;
    }
}
.one{
    width: 150px;
    height: 40px;
    border: 1px solid red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two{
    width: 150px;
    height: 40px;
    border: 1px solid red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.three{
    width: 150px;
    height: 40px;
    border: 1px solid red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.four{
    width: 150px;
    height: 40px;
    border: 1px solid red;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wore{
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
@media (max-width:680){
    .box{
        flex-direction: row;
        height: 1000px;
    }
    .page2{
    height: 1000px;
    }
}
.wore2{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    min-height: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}
.box1,.box2,.box3{
    height: 350px;
    width: 300px;
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
    overflow: hidden;
}
.page3{
    height: auto;
    overflow-x: hidden;
    padding: 40px;
}
.color{
    height: 80px;
    font-size: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.grid{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}
.grid1,.grid2,.grid3,.grid4,.grid5{
    width: 500px;
    height: 400px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ani{
    width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    animation: ani 10s linear infinite;
    border-radius: 20px;
    overflow: hidden;
}
@keyframes ani{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.page4{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page44{
    margin-top: 10px;
    width: 95%;
    height: auto;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.page55{
    width: 90%;
    height: 60px;
    background-color: rgb(111, 109, 109);
    margin: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 32px;
}
.page55 div{
    width: 320px;
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.page55 div:hover{
    background-color: brown;
}
.wow{
    padding: 70px;
    overflow: hidden;
}
h1{
    color: red;
}